*
{
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --main-color:#bc9667;
    --second-color:#edeae3;
    --text-color:#1b1b1b;
    --bg-color:#fff;
    --box-shadow:2px 2px 10px 4px rgb(14 55 54 / 15%);
 }
 section {
    padding: 50px 100px;
    padding-top: 100px; 
}


img
{
    width: 100%;
}
body
{
    color: var(--text-color);
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10000;
    align-items: center;
    transition: 1s linear;
    padding: 18px 100px;
    background-color: var(--text-color);
    color: #fff;
    height: 80px;
}
.logo img{
    width: 60px;
}
.navbar
{
    display: flex;
}
.navbar a{
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar a:hover{
    background:var(--main-color);
    border-radius: 4px;
    transition: 0.3s all linear;
}
.headericon
{
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 15px;

}
.headericon .bx
{
    color: var(--bg-color);
}
.headericon .bx:hover
{
    color: var(--main-color);
}
#menuicon
{
    color: var(--bg-color);
    font-size: 24px;
cursor: pointer;
    z-index: 10001;
    display: none;

}

.searchbox {
    position: absolute;
    top: 0; /* Adjust to avoid overlap with header */
    left: 50%;
    transform: translate(-50%);
    background-color: var(--bg-color);
    width: 100%;
    z-index: 1;
    display: none;
}
.searchbox.active
{
    display: block;
    top: 110%;
    box-shadow: var(--box-shadow);
    transition: 0.3s all linear;
}
.searchbox input
{
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: var(--main-color);
}
.searchbox input::placeholder
{
    font-size: 1rem;
    font-weight: bold;
}
.home
{
    width: 100%; 
    min-height: 100vh;
    /* margin-top: 80px; */
    background: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap: 1.5rem;
    
}

.hometext h1
{
    font-size: 3.4rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.hometext p{
    font-size: 0.938rem;
    color: var(--bg-color);
    margin: 0.5rem 0 1.4rem;
}
.btn
{
    padding: 10px 40px;
    border-radius: 0.3rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: bold;
}
.btn:hover{
    background:#8a6f4d ;
}

.about
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    gap: 20px;
}
.aboutimg img
{
    border-radius: 10px;
}
.abouttext h2
{
    font-size: 1.8rem;
    text-transform: uppercase;       
}
.abouttext p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.1rem;
}
.heading
{
    text-align: center;
}
.heading h2{
    font-size:1.8rem;
    text-transform: uppercase;

}
.productcont
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    gap: 1.5rem;
    margin-top: 2rem;

}
.productcont .box
{
    /* position: relative; */ 
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
border-radius: 0.5rem;
box-shadow: var(--box-shadow);
}
.box img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px8;
}
.box h3{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.5rem 0  0.5rem;

}
.productcont .box .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productcont .box .content span{
    padding: 0.1rem 1rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 5px;
}
.productcont .box .content a{
    padding: 0.1rem 1rem;
    background-color: var(--bg-color);
    color: var(--main-color);
    border-radius: 5px;
    border: 1px solid;
    border-color: var(--main-color);
    border-radius: 5px;
    text-transform: uppercase;
}

.productcont .box .content a:hover
{
    background-color: var(--main-color);
    color: var(--bg-color);
    transition: 0.3s all linear;
}
.customers
{
    text-align: center;
}
.customerbox
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    gap: 20px;
}
.custcont
{
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: 10px;
}
.custcont:hover{
    background-color: #fff2e1;
}
.custcont img{
    text-align: center;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    border: 3px solid var(--main-color);
}
.custcont .stars
{
    font-size: 20px;
    color: var(--main-color);
}
.custcont p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.custhead{
    margin-bottom: 10px;
    font-size:1.8rem;
    text-transform: uppercase;
}
.footer
{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(17rem,auto));
    gap: 10px;
}
#inside
{
    /* box-shadow: var(--box-shadow); */
    padding: 15px;
    /* border-radius: 10px; */
}
#inside p
{
    margin-top:10px ;
    margin-bottom: 10px;

}
.socialicons
{
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #fff2e1;
    border-radius: 8px;
    margin-right: 5px;
}
.shopdet p{
    margin: 10px;
}

#inside:hover{
    background-color: #fff2e1;
}

.copy
{
    background-color: #ddb789;
    text-align: center;
    padding:20px 20px 20px 20px;
}
@media(max-width:1058px)
{
    header
    {
        padding: 16 60px;
    }
    section
    {
        padding: 50px 60px;
    }
    .hometext h1
    {
        font-size: 2.4rem;
    }
}
@media(max-width:991)
{
    header
    {
        padding: 16 2%;
    }
    section
    {
        padding: 50px 2%;
    }
    .hometext h1
    {
        font-size: 2rem;
    }
}
@media (max-width:768px)
{
    header
    {
        padding: 12px 4%;
    }
    #menuicon
    {
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-color);
        row-gap: 1.4rem;
        padding: 20px;
        transition: 0.3s ;
        text-align: center;
    }

}